.bingo-container {
  background-color: var(--card-color);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 10px 20px var(--shadow-color);
}

.bingo-title {
  text-align: center;
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.current-number-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.current-number-label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.current-number {
  font-size: 4rem;
  font-weight: bold;
  color: var(--accent-color);
  background: linear-gradient(45deg, var(--primary-color), var(--luke-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.draw-button,
.restart-button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.draw-button {
  background-color: var(--primary-color);
  color: white;
}

.restart-button {
  background-color: var(--luke-color);
  color: white;
}

.draw-button:hover,
.restart-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px var(--shadow-color);
}

.drawn-numbers-container {
  margin-top: 2rem;
}

.drawn-numbers-title {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.drawn-numbers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 0.5rem;
}

.drawn-number {
  background-color: var(--text-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.saved-games-container {
  margin-top: 2rem;
}

.saved-games-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.saved-game {
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px var(--shadow-color);
}

.saved-game h3 {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.saved-game p {
  font-size: 1rem;
  color: var(--text-color);
}

/* Dark Mode Styles */
.dark-mode .bingo-container {
  background-color: var(--card-color);
}

.dark-mode .bingo-title {
  color: var(--text-color);
}

.dark-mode .current-number-label {
  color: var(--text-color);
}

.dark-mode .current-number {
  background: linear-gradient(45deg, var(--text-color), var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-mode .restart-button {
  color: white;
}

.dark-mode .drawn-numbers-title {
  color: var(--text-color);
}

.dark-mode .drawn-number {
  background-color: var(--card-color);
  color: var(--text-color);
  border-color: var(--primary-color);
}

.dark-mode .saved-games-title {
  color: var(--text-color);
}

.dark-mode .saved-game {
  background-color: var(--card-color);
  box-shadow: 0 4px 6px var(--shadow-color);
}

.dark-mode .saved-game h3 {
  color: var(--text-color);
}

.dark-mode .saved-game p {
  color: var(--text-color);
}

.winner-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.winner-input-container label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}

.winner-input-container input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.save-button {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: var(--secondary-color-hover);
}
