/* JumpGame.css */

.game-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-top: 5rem;
}

.game-area {
  position: relative;
  width: 98%;
  max-width: 800px;
  height: 70vh;
  background-color: #f0f0f0;
  overflow: hidden;
  background-image: url("./jumper.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 2px solid #000000; /* Blue border for better visibility */
}

.character {
  position: absolute;
  width: 15vw;
  height: 15vw;
  max-width: 90px;
  max-height: 90px;
  background-size: cover;
  left: 5vw;
  background-position: center;
}
.character img {
  width: 100%;
  height: 100%;
  display: block;
}

.jump-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.jump-button:hover {
  background-color: #2980b9;
}

.obstacle {
  position: absolute;
  width: 12vw;
  max-width: 70px;
  background-size: contain;
  background-position: center;
  justify-content: center;
  background-repeat: no-repeat;
  bottom: 0; /* Ensure obstacles start at the bottom */
}

.obstacle-1 {
  background-image: url("https://cache.teia.rocks/ipfs/QmSaa3gP74brfG1QBW7km9v9rWvuHYsHJXWzDHht1rjv3i");
}

.obstacle-2 {
  background-image: url("https://cache.teia.rocks/ipfs/QmeaiCR1qJuAhqMfpSApng2HABmTQwN4gVKCjMNzHW3S68");
}

.obstacle-3 {
  background-image: url("https://cache.teia.rocks/ipfs/Qmc1FydAffsNtkvmwtYysr5AeNSkHTVHm3shoo2PUH2ePH");
  transform: scaleX(-1);
}

.score {
  position: absolute;
  top: 2vh;
  right: 2vw;
  font-size: 1vw;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.distance {
  position: absolute;
  top: 2vh;
  left: 2vw;
  font-size: 1vw;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}
.start-screen,
.game-over-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 10;
  border-radius: 10px;
  text-align: center;
}

.start-button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #3498db;
  color: #fff;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  background-color: #2980b9;
}

/* Media queries for smaller screens */
@media (max-width: 600px) {
  .game-area {
    height: 50vh;
  }

  .character {
    width: 20vw;
    height: 20vw;
    left: 0vw;
  }

  .obstacle {
    width: 15vw;
  }

  .jump-button {
    font-size: 5vw;
    padding: 5px 10px;
  }

  .score,
  .distance {
    font-size: 4vw;

    background: rgba(0, 0, 0, 0.8);
  }

  .start-button {
    font-size: 5vw;
    padding: 5px 10px;
  }
}
